@define-color background #101418;
@define-color on_surface #e0e2e8;
@define-color primary #9ccbfb;
@define-color on_surface_variant #c2c7cf;
@define-color outline #8c9199;
@define-color surface_container #1c2024;
