@define-color background #121318;
@define-color surface #121318;
@define-color surface_container #1e1f25;
@define-color surface_container_high #282a2f;
@define-color on_surface #e2e2e9;
@define-color on_surface_variant #c5c6d0;
@define-color primary #afc6ff;
@define-color primary_container #2d4678;
@define-color secondary #bfc6dc;
@define-color tertiary #dfbbde;
@define-color error #ffb4ab;
@define-color outline #8f9099;
