@define-color background #121318;
@define-color surface #121318;
@define-color surface_container #1f1f25;
@define-color surface_container_high #292a2f;
@define-color on_surface #e3e1e9;
@define-color on_surface_variant #c6c5d0;
@define-color primary #b9c3ff;
@define-color primary_container #384379;
@define-color secondary #c3c5dd;
@define-color tertiary #e5bad8;
@define-color error #ffb4ab;
@define-color outline #90909a;
