@define-color background #121318;
@define-color on_surface #e2e2e9;
@define-color primary #afc6ff;
@define-color on_surface_variant #c5c6d0;
@define-color outline #8f9099;
@define-color surface_container #1e1f25;
