@define-color background #13140d;
@define-color surface #13140d;
@define-color surface_container #1f2019;
@define-color surface_container_high #2a2b23;
@define-color on_surface #e4e3d7;
@define-color on_surface_variant #c7c7b7;
@define-color primary #c0ce7e;
@define-color primary_container #414c08;
@define-color secondary #c5c9a8;
@define-color tertiary #a1d0c4;
@define-color error #ffb4ab;
@define-color outline #919283;
