@define-color background #111318;
@define-color on_surface #e2e2e9;
@define-color primary #abc7ff;
@define-color on_surface_variant #c4c6d0;
@define-color outline #8e9099;
@define-color surface_container #1e2025;
