@define-color theme_fg_color #e3e1e9;
@define-color theme_bg_color #121318;
@define-color theme_text_color #e3e1e9;
@define-color theme_base_color #121318;
@define-color theme_selected_bg_color #b9c3ff;
@define-color theme_selected_fg_color #212c61;

@define-color window_bg_color #121318;
@define-color window_fg_color #e3e1e9;

@define-color view_bg_color #121318;
@define-color view_fg_color #e3e1e9;
@define-color headerbar_bg_color #121318;
@define-color headerbar_fg_color #e3e1e9;
