@define-color theme_fg_color #e2e2e9;
@define-color theme_bg_color #121318;
@define-color theme_text_color #e2e2e9;
@define-color theme_base_color #121318;
@define-color theme_selected_bg_color #afc6ff;
@define-color theme_selected_fg_color #132f60;

@define-color window_bg_color #121318;
@define-color window_fg_color #e2e2e9;

@define-color view_bg_color #121318;
@define-color view_fg_color #e2e2e9;
@define-color headerbar_bg_color #121318;
@define-color headerbar_fg_color #e2e2e9;
