@define-color shadow #000000;
@define-color background #121318;
@define-color onBackground #e2e2e9;
@define-color primary #afc6ff;
@define-color onPrimary #132f60;
@define-color secondary #bfc6dc;
@define-color onSecondary #293042;
@define-color surface #121318;
@define-color onSurface #e2e2e9;
@define-color surfaceContainer #1e1f25;
@define-color error #ffb4ab;
@define-color onError #690005;
@define-color outline #8f9099;
