@define-color shadow #000000;
@define-color background #121318;
@define-color onBackground #e3e1e9;
@define-color primary #b9c3ff;
@define-color onPrimary #212c61;
@define-color secondary #c3c5dd;
@define-color onSecondary #2c2f42;
@define-color surface #121318;
@define-color onSurface #e3e1e9;
@define-color surfaceContainer #1f1f25;
@define-color error #ffb4ab;
@define-color onError #690005;
@define-color outline #90909a;
