@define-color shadow #000000;
@define-color background #101418;
@define-color onBackground #e0e2e8;
@define-color primary #9ccbfb;
@define-color onPrimary #003354;
@define-color secondary #b9c8da;
@define-color onSecondary #243240;
@define-color surface #101418;
@define-color onSurface #e0e2e8;
@define-color surfaceContainer #1c2024;
@define-color error #ffb4ab;
@define-color onError #690005;
@define-color outline #8c9199;
