@define-color shadow #000000;
@define-color background #111318;
@define-color onBackground #e2e2e9;
@define-color primary #abc7ff;
@define-color onPrimary #0d2f5f;
@define-color secondary #bec6dc;
@define-color onSecondary #283041;
@define-color surface #111318;
@define-color onSurface #e2e2e9;
@define-color surfaceContainer #1e2025;
@define-color error #ffb4ab;
@define-color onError #690005;
@define-color outline #8e9099;
