@define-color shadow #000000;
@define-color background #13140d;
@define-color onBackground #e4e3d7;
@define-color primary #c0ce7e;
@define-color onPrimary #2b3400;
@define-color secondary #c5c9a8;
@define-color onSecondary #2e321b;
@define-color surface #13140d;
@define-color onSurface #e4e3d7;
@define-color surfaceContainer #1f2019;
@define-color error #ffb4ab;
@define-color onError #690005;
@define-color outline #919283;
