@define-color theme_fg_color {{colors.on_surface.default.hex}};
@define-color theme_bg_color {{colors.surface.default.hex}};
@define-color theme_text_color {{colors.on_surface.default.hex}};
@define-color theme_base_color {{colors.surface.default.hex}};
@define-color theme_selected_bg_color {{colors.primary.default.hex}};
@define-color theme_selected_fg_color {{colors.on_primary.default.hex}};

@define-color window_bg_color {{colors.surface.default.hex}};
@define-color window_fg_color {{colors.on_surface.default.hex}};

@define-color view_bg_color {{colors.surface.default.hex}};
@define-color view_fg_color {{colors.on_surface.default.hex}};
@define-color headerbar_bg_color {{colors.surface.default.hex}};
@define-color headerbar_fg_color {{colors.on_surface.default.hex}};
