@define-color shadow {{colors.shadow.default.hex}};
@define-color background {{colors.background.default.hex}};
@define-color onBackground {{colors.on_background.default.hex}};
@define-color primary {{colors.primary.default.hex}};
@define-color onPrimary {{colors.on_primary.default.hex}};
@define-color secondary {{colors.secondary.default.hex}};
@define-color onSecondary {{colors.on_secondary.default.hex}};
@define-color surface {{colors.surface.default.hex}};
@define-color onSurface {{colors.on_surface.default.hex}};
@define-color surfaceContainer {{colors.surface_container.default.hex}};
@define-color error {{colors.error.default.hex}};
@define-color onError {{colors.on_error.default.hex}};
@define-color outline {{colors.outline.default.hex}};
